<section id="sec">
    <mat-card class="example-card">
  <div class="row">
      <div class="col-sm-12 text-center">
<!-- <div class="icon"> -->
    <img src="../../assets/img/person.png" alt="" style= "height: 90px;" class="mb-1">
        <!-- <i class="fa fa-user-plus  mb-3" aria-hidden="true" style="font-size: 80px;"></i> -->
<!-- </div> -->
      </div>
  </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label> <i class="fa fa-envelope"></i> Email</mat-label>
                      <input matInput placeholder="Enter Mail" value="">
                    </mat-form-field>
                  
                  
                  </form>
                  
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label> <i class="fa fa-lock"></i>Enter Password</mat-label>
                      <input matInput placeholder="Enter Mail" value="">
                    </mat-form-field>
                  
                  
                  </form>
                  
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <h5 routerLink="/" class="for">Forgot Your Password ?</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">

<button class="btn btn-success btn-block" style="font-size:18px" routerLink="/">login</button>               
 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3  class="text-center mt-3" style="font-size: 14px; padding: 0 4px;">Or Sign Up Using</h3>
            </div>
        </div>
<div class="row">
    <div class="col-sm-12 text-center mt-1 mb-5 ">
        <i class="fa fa-facebook"  router style="font-size: 25px; padding: 8px;margin: 4px;color:#3b5998; outline: none;cursor: pointer;">
        </i>
        <i class="fa fa-twitter" style="font-size: 25px;padding: 5px;margin: 4px; color: #00acee;outline: none; cursor: pointer;">
        </i>
        <i class="fa fa-google-plus" style="font-size: 25px;padding: 5px;margin: 4px;color: #db4a39;outline: none; cursor: pointer;">
        </i>

    </div>
</div>
       </mat-card>
</section>
  